<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ioreno.grecoantoine.ioreno">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ContractorSeeEstimatesItemActivity"></activity>
        <activity android:name=".ContractorSeeEstimatesActivity" />
        <activity android:name=".AdminHome" />
        <activity android:name=".customerSeeEstimatesItemActivity"></activity>
        <activity android:name=".CustomerSeeEstimatesActivity" />
        <activity android:name=".CustomerEditProject" />
        <activity android:name=".ViewProjectActivity" />
        <activity android:name=".contractor_project_item" />
        <activity android:name=".ContractorReadMoreActivity" />
        <activity android:name=".ViewProjectActivity" />
        <activity android:name=".CustomerEditProject" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CustomerSignUp" />
        <activity android:name=".ContractorSignUp" />
        <activity android:name=".CustomerHome" />
        <activity android:name=".ContractorHome" />
        <activity android:name=".customer_project_item" />
        <activity android:name=".CustomerCreateNewProject" />
    </application>

</manifest>